body {
    margin: 0;
}

.image-content {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.image-content h1 {
    margin: 0;
}

#sidebar-main {
    position: fixed;
    left: 0;
    float: left;
    width: 3em;
    height: 100%;
    background: #333333;
    border-right: 1px solid black;
    transition: width 0.25s ease-in 0.25s;
}
#sidebar-main:hover {
    width: 12em;
    transition: width 0.25s ease-out;
}
#sidebar-main:hover .sidebar-expanded {
    visibility: visible;
}
.sidebar-entry a {
    text-decoration: none;
    color: white;
}

#sidebar-main .sidebar-expanded {
    visibility: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    transition: visibility 0s linear 0.25s;
}

.sidebar-entry {
    width: 100%;
    height: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.sidebar-entry+.sidebar-entry {
    border-top: 1px solid #222222;
}
.sidebar-entry:hover {
    background: #666666;
}

#sidebar-home {
    background: #ff8800;
}
#sidebar-home:hover {
    background: #dd6600;
}

.site-content {
    padding-left: 3em;
    color: white;
    height: 100%;
}
